<!DOCTYPE html> 
<html dir="ltr" lang="en-US"> 

<head> 
<!-- SigmaWeb By Sanketh Katta --> 
	<meta charset="utf-8" /> 
	<title>{{ info['team'] }}</title> 

	<!-- Stylesheets --> 
	<link rel="stylesheet" type="text/css" href="bootstrap.min.css"/> 
	<link rel="stylesheet" type="text/css" href="sigmaweb.css"/> 

</head> 

<body> 
    % include navbar data={"info": info, "__simulate": "", "__results": ""}

    <div class="container">
        <div class="row">
            <div class="span12">
                <div class="hero-unit">
                <h1>Welcome to {{ info['team'] }}!</h1>
                <p>{{!info['description']}}</p>
                <p>By {{ info['members'] }}</p>
                <p> <a href="/simulate" class="btn btn-primary btn-large">Let's Get Started</a> </p>
                </div>
            </div>
        </div>
   </div>
</body> 
</html> 
 
