<!DOCTYPE html> 
<html dir="ltr" lang="en-US"> 

<head> 
<!-- SigmaWeb By Sanketh Katta --> 
	<meta charset="utf-8" /> 
	<title>{{ info['team'] }}</title> 

	<!-- Stylesheets --> 
	<link rel="stylesheet" type="text/css" href="bootstrap.min.css"/> 
	<link rel="stylesheet" type="text/css" href="sigmaweb.css"/> 

</head> 
 
<body> 
    % include navbar data={"info": info, "__simulate": "active", "__results": ""}

    <div class="container">
        <div class="row">
            <div class="span12">
                <div class="page-header">
                    <h1>Simulate. <small>customize your parameters<small></h1>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="span6">
                <form class="form-horizontal" method="post" enctype="multipart/form-data">
                    <div class="control-group">
                         <label class="control-label">{{ sigma['runtime']['display'] }}</label>
                         <div class="controls">
                            <input type="text" name="{{ sigma['runtime']['name'] }}" value="{{ sigma['runtime']['default'] }}">
                         </div>
                     </div>

                    % for param in sigma['data']:
                    <div class="control-group">
                        <label class="control-label">{{ param['display'] }}</label>
                        <div class="controls">
                            <input type="file" name="{{ param['filename'] }}">
                        </div>
                    </div>
                    % end

                    % for param in sigma['parameters']:
                    <div class="control-group">
                        <label class="control-label">{{ param['display'] }}</label>
                        <div class="controls">
                            <input type="text" name="{{ param['name'] }}" value="{{ param['default'] }}">
                        </div>
                    </div>
                    % end
                    <input class="btn btn-large btn-block btn-primary" type="submit" value="Run Simulation">
                </form>
            </div>
            <div class="span6">
                <div class="well">
                    <p>{{!info['additional']}} </p>
                </div>
            </div>
        </div>
   </div>
</body> 
</html> 
 
